<div class="d-flex align-items-center py-4 bg-body-tertiary h-100">
  <div class="w-100 m-auto form-container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="requestReset()">
      <h1 class="h3 mb-3 fw-bolder">ClickDesp</h1>
      <h3 class="h5 mb-2 fw-light">Reset de Senha</h3>

      <div class="form-floating my-3">
        <input type="email" class="form-control" placeholder="E-mail" formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
        <label for="floatingInput">E-mail</label>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">{{'E-mail é requerido'}}</div>
          <div *ngIf="f.email.errors.email">{{'Infome E-mail válido'}}</div>
        </div>
      </div>
      <button class="btn btn-dark w-100 py-2">Solicitar Token</button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
      <hr class="hr-light mb-3 mt-4">
      <div class="d-flex flex-column align-items-end">
        <div class="d-flex align-items-center mb-1">
          <a class="link-dark text-decoration-none text-dark" routerLink="/reset-password">
            Tenho um Token
          </a>
        </div>
        <div class="d-flex align-items-center mt-1">
          <a class="link-secondary text-decoration-none d-flex align-items-center" routerLink="/login" aria-label="Voltar para login">
            <i class="bi bi-arrow-left me-2"></i>
            Login
          </a>
        </div>
      </div>
      <p class="text-body-secondary mt-5 mb-5 ">© 2023 SouzaTech, Inc</p>
    </form>
  </div>
</div>
