<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a class="navbar-brand" href="#">ClickDesp</a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="#" class="nav-link px-2 link-secondary">Clientes</a></li>
      <li><a href="#" class="nav-link px-2 link-secondary">Veiculos</a></li>
      <li><a routerLink="/listarcategorias" class="nav-link px-2 link-secondary">Categoria</a></li>
      <li><a routerLink="/servicos" class="nav-link px-2 link-secondary">Servico</a></li>
      <li><a href="#" class="nav-link px-2 link-secondary">Ordem de Servico</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-dark" (click)="deslogar()"><i class="bi bi-box-arrow-right"></i> Sair</button>
    </div>
  </header>
</div>
