<div class="container p-2 m-2">
  <h3><i class="bi bi-card-checklist"></i> Lista de Ordens de Serviços</h3>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2 m-2 " type="button" routerLink="/ordens-servicos/create">Nova Ordem Serviço</button>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div *ngFor="let os of ordensservicos" class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ordem de Serviço #{{ os.id }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Código: {{ os.id }}</li>
            <li class="list-group-item">Status: {{ os.status }}</li>
            <li class="list-group-item">Veículo: {{ os.veiculoPlaca }}</li>
            <li class="list-group-item">Proprietário: {{ os.proprietarioNome }}</li>
            <li class="list-group-item">Tipo de Serviço: {{ os.tipoServico }}</li>
            <li class="list-group-item">Valor Total: {{ os.valorTotal | currency : 'BRL' }}</li>
            <li class="list-group-item">Observação: {{ os.observacao }}</li>
          </ul>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
            <button type="button" class="btn btn-primary" tooltip="Serviços" routerLink="/ordens-servicos/update/{{ os.id }}">
              <i class="bi bi-card-checklist"></i> Detalhes
            </button>
            <button type="button" class="btn btn-danger" tooltip="Cancelar" routerLink="/ordens-servicos/cancel/{{ os.id }}">
              <i class="bi bi-trash"></i> Cancelar
            </button>
            <button type="button" class="btn btn-warning" tooltip="Finalizar" routerLink="/ordens-servicos/finish/{{ os.id }}">
              <i class="bi bi-slash-circle"></i> Finalizar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
