<div class="container">
<h3><i class="bi bi-card-checklist"></i> Adicionar Categorias</h3>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Descrição</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Descrição">
</div>
<div class="d-grid gap-2 d-md-block">
  <button class="btn btn-primary" type="button">Salvar</button>
  <button class="btn btn-danger" type="button" routerLink="/listarcategorias">Cancelar</button>
</div>
</div>
