<div class="container p-2  m-2">
  <h3><i class="bi bi-card-checklist"></i> Editar Tipo de Servicos</h3>
  <form [formGroup]="formulario" (ngSubmit)="update()">

    <div class="form-floating mb-3">
      <input type="text" class="form-control"
      formControlName="descricao"
      [(ngModel)]="tipoServico.descricao"
      name="descricao"
      required>
      <label for="floatingInput">Descrição</label>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary" type="submit" [disabled]="!validaCampos()">Salvar</button>
      <button (click)="cancelar()" class="btn btn-danger" type="button" routerLink="/tipos-servicos">Cancelar</button>
    </div>
  </form>
