<div class="container">
<h3><i class="bi bi-card-checklist"></i> Lista de Categorias</h3>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2" type="button" routerLink="/adicionarcategorias">Nova Categoria</button>
</div>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Código</th>
      <th scope="col">Descrição</th>
      <th scope="col">Excluir</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>01</td>
      <td>Habilitação</td>
      <td><i class="bi bi-trash"></i></td>
      <td><i class="bi bi-pencil-square"></i></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>02</td>
      <td>Veiculos</td>
      <td><i class="bi bi-trash"></i></td>
      <td><i class="bi bi-pencil-square"></i></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>03</td>
      <td>Outros</td>
      <td><i class="bi bi-trash"></i></td>
      <td><i class="bi bi-pencil-square"></i></td>
    </tr>

  </tbody>
</table>
</div>
