<div class="container">
  <h3><i class="bi bi-card-checklist"></i> Adicionar Servicos</h3>
  <form>
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição" [(ngModel)]="servico.descricao">
    </div>
    <div class="mb-3">
      <label for="descricao" class="form-label">Preço</label>
      <input type="number" class="form-control" id="preco" name="preco" placeholder="Preço" [(ngModel)]="servico.preco">
    </div>
    <div class="mb-3">
      <select class="form-select" aria-label="Default select example" name="categoria" [(ngModel)]="servico.categoria">
        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.descricao }}</option>
      </select>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button (click)="salvar()" class="btn btn-primary" type="submit">Salvar</button>
      <button (click)="cancelar()" class="btn btn-danger" type="button" routerLink="/listarservicos">Cancelar</button>
    </div>
  </form>
