  <div class="container">
    <h3><i class="bi bi-card-checklist"></i> Adicionar Servicos</h3>
    <form [formGroup]="formulario" (ngSubmit)="create()">

      <div class="form-floating mb-3">
        <input type="text" class="form-control"
        id="descricao"
        name="descricao"
        placeholder="Descrição"
        formControlName="descricao"
        required>
        <label for="floatingInput">Descrição</label>
      </div>

      <div class="form-floating mb-3">
        <input type="number" class="form-control"
        id="preco"
        name="preco"
        placeholder="Preço"
        formControlName="preco"
        required>
        <label for="floatingInput">Preço</label>
      </div>

      <div class="form-floating mb-3">
        <select class="form-select" aria-label="Default select example"
        id="categoria"
        name="categoria"
        placeholder="Categoria"
        formControlName="categoria"
        required>
          <option value="" disabled selected>Selecione a Categoria...</option>
          <option *ngFor="let cat of categorias" [ngValue]="cat.id" >{{ cat.descricao }}</option>
        </select>
        <label for="floatingInput">Descrição</label>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="submit" [disabled]="!validaCampos()">Salvar</button>
        <button (click)="cancelar()" class="btn btn-danger" type="button" routerLink="/servicos">Cancelar</button>
      </div>
    </form>
