<div class="container">
  <app-navbar></app-navbar>
  <h3><i class="bi bi-card-checklist"></i> Lista de Categorias</h3>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2" type="button" routerLink="/categorias/create">Nova Categoria</button>
  </div>
  <div class="table-responsive">
  <table class="table table-striped align-middle table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Código</th>
        <th scope="col">Descrição</th>
        <th scope="col">Excluir</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of categorias">
        <th scope="row"><i class="bi bi-caret-right"></i></th>
        <td>{{ cat.id }}</td>
        <td>{{ cat.descricao }}</td>
        <td>
          <button type="button" class="btn btn-danger" routerLink="/categorias/delete/{{ cat.id }}"><i class="bi bi-trash"></i></button>
        </td>
        <td>
          <button type="button" class="btn btn-primary" routerLink="/categorias/update/{{ cat.id }}" ><i class="bi bi-pencil-square"></i></button>
        </td>
      </tr>
    </tbody>
    </table>
    <app-footer></app-footer>
  </div>
</div>



