<div class="container p-2  m-2">
  <h3><i class="bi bi-speedometer2"></i> Dashboard</h3>
  <div class="row">

    <div class="col-md-4 mb-4">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <h5 class="card-title">Total de Veículos</h5>
          <p class="card-text display-4">{{ estatisticas.totalVeiculos }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card text-white bg-success">
        <div class="card-body">
          <h5 class="card-title">Total de Proprietários</h5>
          <p class="card-text display-4">{{ estatisticas.totalProprietarios }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card text-white bg-info">
        <div class="card-body">
          <h5 class="card-title">Ordens de Serviços</h5>
          <p class="card-text display-4">{{ estatisticas.totalOrdemServico }}</p>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total de Proprietários por Mês</h5>
            <canvas baseChart
                    [datasets]="proprietariosPorMesData"
                    [labels]="proprietariosPorMesLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [type]="'bar'">
            </canvas>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
