<div class="d-flex align-items-center py-4 bg-body-tertiary h-100">
  <div class="w-100 m-auto form-container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <h1 class="h3 mb-3 fw-bolder">ClickDesp</h1>
      <h3 class="h5 mb-2 fw-light">Resetar Senha</h3>

      <div class="form-floating my-3">
        <input type="email" class="form-control" placeholder="E-mail" formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
        <label for="floatingInput">E-mail</label>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">E-mail é requerido</div>
          <div *ngIf="f.email.errors.email">Informe um e-mail válido</div>
        </div>
      </div>

      <div class="form-floating my-3">
        <input type="text" class="form-control" placeholder="Token" formControlName="token"
        [ngClass]="{ 'is-invalid': submitted && f.token.errors }">
        <label for="floatingInput">Token</label>
        <div *ngIf="submitted && f.token.errors" class="invalid-feedback">
          <div *ngIf="f.token.errors.required">Token é requerido</div>
        </div>
      </div>

      <div class="form-floating my-3">
        <input type="password" class="form-control" placeholder="Nova Senha" formControlName="newPassword"
        [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
        <label for="floatingInput">Nova Senha</label>
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
          <div *ngIf="f.newPassword.errors.required">Nova senha é requerida</div>
        </div>
      </div>

      <button class="btn btn-dark w-100 py-2">Resetar Senha</button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      <div *ngIf="success" class="alert alert-success mt-3 mb-0">{{success}}</div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="d-flex align-items-center mt-1">
          <a class="link-secondary text-decoration-none d-flex align-items-center" routerLink="/login" aria-label="Voltar para login">
            <i class="bi bi-arrow-left me-2"></i>
            Login
          </a>
        </div>
      </div>
      <p class="text-body-secondary mt-5 mb-5 text-center">© 2023 SouzaTech, Inc</p>
    </form>
  </div>
</div>
